
fastapi
uvicorn
python-multipart

# Database
sqlalchemy==2.0.23
alembic==1.12.1

# Authentication
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4

python-dotenv==1.0.0

google-genai




youtube-transcript-api==0.6.2

PyPDF2==3.0.1
python-docx


numpy
gensim
nltk==3.9.1
faiss-cpu
joblib==1.4.2


plotly==5.24.1
matplotlib


pandas
tqdm==4.67.1




